bin/
obj/
.git/
.vs/
node_modules/
*.user

**/bin/
**/obj/
**/out/
**/TestResults/
**/CoverageResults/
**/coverage/
**/node_modules/

**/.vs/
**/.vscode/
**/.idea/
**/*.user
**/*.suo
**/*.userosscache
**/*.sln.docstates
**/*.DotSettings
**/*.DotSettings.user

**/appsettings.Development.json
**/appsettings.*.local.json
**/secrets.json
**/*Secrets.json
**/Properties/launchSettings.json

.gitignore
.gitattributes
.dockerignore
Dockerfile

*.md
README*
LICENSE*

scripts/
docs/
**/logs/
**/*.log
**/*.bak
**/*.sql
